header {
    display: block;
  
}

.blog-post-header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.col-xs img {
    display: none;
}

.title {
    font-size: 40px;
}